{% extends 'books/layout.html' %}

{% block content %}
    <div style="max-width: 400px; margin: 0 auto;"> <h2>{{ title }}</h2>
        
        <form method="post" novalidate>
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}

                    {{ field }}

                    {% if field.errors %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if field.help_text %}
                        <div class="help-text">
                            {{ field.help_text|safe }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit" style="width: 100%; margin-top: 10px;">Submit</button>
        </form>
    </div>
{% endblock %}